body{
    background-color:#DCD4C1;
    font-family: Aboreto, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div#half{
    color: #5A5A5A;
    text-align: center;
    font-size: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 1px 20px;
}

#banner {
    font-family: Aboreto, sans-serif;
    font-size: 3em;
    line-height: 1;
    margin-left: 40px;
}

#banner a {
    text-decoration: none;
    color: #5A5A5A;
    display: inline-block;
    transition: all 0.3s ease;
}

#banner a:hover {
    color: #36452B;
    font-size: 1.3em;
    transform: scale(0.9);
}

.navbar {
    text-align: right;
    margin-right: 40px;
    font-size: 1.1em;
}

.navbar ul.nav-links li a.active:hover {
    background-color: #36452B; 
    transition: color 0.3s ease;
    border-radius: 5px;
    padding: 11px 24px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease;
}

ul.nav-links {
    list-style-type: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.navbar a {
    font-family: Antic Didone, serif;
    color: #293132;
    text-decoration: none;
    font-weight: thin;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: white;
    background-color: #36452B;
    border-radius: 4px;
    transition: color 0.3s ease;
    cursor: pointer;
    font-size: 1.5em;
    transition: all 0.5s ease;
}

.quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    box-sizing: border-box;
    min-height: 55vh;
    margin-top: 30px;
}

h1 {
    font-size: 3.5em;
    margin: 0 0 15px 0;
    color: #293132;
    letter-spacing: 2px;
    width: 100%;
}

button {
    font-family: 'Antic Didone', serif;
    background-color: #36452B;
    border: 1px solid #36452B;
    color: white    ;
    border-radius: 5px;
    padding: 14px 32px;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #293132;;
    color: white;
    transform: scale(1.2);
}

.link {
    width: 100%;
    margin-top: 2px;
}

.link a {
    color: #293132;
    text-decoration: none;
    font-weight: thin;
    display: inline-block;
    margin-top: 15px;
    transition: all 0.3s ease;
}

.link a:hover {
    color: #36452B;
    border-radius: 4px;
    transition: color 0.5s ease;
    cursor: pointer;
    transform: scale(1.5);
    border-bottom: 1px solid #36452B;
    transition: all 0.3s ease;
}