body{
    background-color:#DCD4C1;
    font-family: Aboreto, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div#half{
    color: #5A5A5A;
    text-align: center;
    font-size: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 1px 20px;
}

#banner {
    font-family: Aboreto, sans-serif;
    font-size: 3em;
    line-height: 1;
    margin-left: 40px;
}

#banner a {
    text-decoration: none;
    color: #5A5A5A;
}

.navbar {
    text-align: right;
    margin-right: 40px;
    font-size: 1.1em;
}

.navbar ul.nav-links li a.active:hover {
    background-color: #36452B; 
    transition: color 0.3s ease;
    border-radius: 5px;
    padding: 11px 24px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease;
}

ul.nav-links {
    list-style-type: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.navbar a {
    font-family: Antic Didone, serif;
    color: #293132;
    text-decoration: none;
    font-weight: thin;
    padding: 8px 16px;
}

.navbar a:hover {
    color: white;
    background-color: #36452B;
    border-radius: 4px;
    transition: color 0.3s ease;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 1.5em;

}

main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px;
    gap: 50px;
}

div.quiz-container {
    flex: 1;
    text-align: center;
    padding: 20px;
}

h1 {
    font-family: Aboreto, sans-serif;
    font-weight: 400
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 3em;
    margin-bottom: 10px;
    margin-left: 230px;
    color: #293132;
}

button {
    font-family: 'Antic Didone', serif;
    background-color: #36452B;
    border: 1px solid #36452B;
    color: white    ;
    border-radius: 5px;
    padding: 11px 24px;
    margin-top: 5px;
    margin-left: 200px;
    font-size: 1.8em;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #293132;
    color: white;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 160px);
    grid-template-rows: repeat(2, 140px);
    position: relative;
    padding: 20px;
}

.image-gallery img {
    border-radius: 50%;
    object-fit: cover;
    position: relative;
    transition: transform 0.3s ease;
    clip-path: circle(40%);
}

.image-gallery img:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    margin-left: 0px;
    margin-top: -60px;
    width: 400px;
    height: 400px
}

.image-gallery img:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: center;
    margin-left: 90px;
    margin-top: 150px;
    z-index: 3;
    width: 370px;
    height: 370px
}

.image-gallery img:nth-child(3) {
    grid-column: 1 /span 2;
    grid-row: 2;
    margin-top: 35px;
    margin-left: 90px;
    z-index: 2;
    width: 300px;
    height: 350px
}




