body{
    background-color:#DCD4C1;
    font-family: Aboreto, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

div#half{
    color: #5A5A5A;
    text-align: center;
    font-size: 1em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 1px 20px;
}

#banner {
    font-family: Aboreto, sans-serif;
    font-size: 3em;
    line-height: 1;
    margin-left: 40px;
}

#banner a {
    text-decoration: none;
    color: #5A5A5A;
    display: inline-block;
    transition: all 0.3s ease;
}

#banner a:hover {
    color: #36452B;
    font-size: 1.3em;
    transform: scale(0.9);
}

.navbar {
    text-align: right;
    margin-right: 40px;
    font-size: 1.1em;
}

.navbar ul.nav-links li a.active:hover {
    background-color: #36452B; 
    transition: color 0.3s ease;
    border-radius: 5px;
    padding: 11px 24px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all 0.3s ease;
}

ul.nav-links {
    list-style-type: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.navbar a {
    font-family: Antic Didone, serif;
    color: #293132;
    text-decoration: none;
    font-weight: thin;
    padding: 8px 16px;
    transition: all 0.3s ease;
}

.navbar a:hover {
    color: white;
    background-color: #36452B;
    border-radius: 4px;
    transition: color 0.3s ease;
    cursor: pointer;
    font-size: 1.5em;
    transition: all 0.3s ease;
}

/* end of navbar stuff */

h1 {
    font-family: Aboreto, sans-serif;
    font-size: 2.3em;
    text-align: center;
    margin-top: -0.1em;
    margin-bottom: 0.5em;
    color: #36452B;
}

.topics-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 75px;
    width: 100%;
    padding: 5px 15px;
}

.topic-1, .topic-2, .topic-3, .topic-4 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

    background-color: #818263;
    border-radius: 1.5em;
    padding: 1.9em;
    box-sizing: border-box;
    width: 15em;
    min-height: 30em;
    transition: transform 0.3s ease, border-radius 0.3s ease;
}

.topic-1 img, .topic-2 img, .topic-3 img, .topic-4 img {
    width: 85%;
    object-fit: cover;
    border-radius: 2em;
}

.topic-1:hover .text1 a,
.topic-2:hover .text2 a,
.topic-3:hover .text3 a,
.topic-4:hover .text4 a {
    transform: scale(1.2);
    border-radius: 2em;
    color: white;
    font-weight: bold;
}

.topic-1:hover, 
.topic-2:hover, 
.topic-3:hover, 
.topic-4:hover {
    transform: scale(1.09);
    border-radius: 2em;
}

.rectangle-1, .rectangle-2, .rectangle-3, .rectangle-4 {
    display: block;
    height: 14em;
    width: 16em;
    background-color: #818263;
    cursor: pointer;
    transition: transform 0.3s ease, border-radius 0.3s ease;
}

.text1, .text2, .text3, .text4 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    padding: 13px;
    box-sizing: border-box;
    text-align: center;
    pointer-events: none;
}

.text1 a, .text2 a, .text3 a, .text4 a {
    text-decoration: none;
    color: #293132;
    font-family: Antic Didone, serif;
    font-size: 1.1em;
    text-align: center;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    pointer-events: auto;
    cursor: pointer;
}